[submodule "dockers"]
	path = dockers
	url = git@github.com:cloudonlanapps/cl_server_dockers.git
	branch = main
[submodule "services/auth"]
	path = services/auth
	url = git@github.com:cloudonlanapps/cl_server_auth_service.git
	branch = main
[submodule "services/compute"]
	path = services/compute
	url = git@github.com:cloudonlanapps/cl_server_compute_service.git
	branch = main
[submodule "services/store"]
	path = services/store
	url = git@github.com:cloudonlanapps/cl_server_store_service.git
	branch = main
[submodule "apps/cli_python"]
	path = apps/cli_python
	url = git@github.com:cloudonlanapps/cl_server_cli_python.git
	branch = main
[submodule "sdks/pysdk"]
	path = sdks/pysdk
	url = git@github.com:cloudonlanapps/cl_server_sdk_python.git
	branch = main
[submodule "sdks/dartsdk"]
	path = sdks/dartsdk
	url = git@github.com:cloudonlanapps/cl_server_sdk_dart.git
	branch = main
[submodule "services/packages/cl_ml_tools"]
	path = services/packages/cl_ml_tools
	url = git@github.com:cloudonlanapps/cl_ml_tools.git
	branch = main
[submodule "apps/cli_dart"]
	path = apps/cli_dart
	url = git@github.com:cloudonlanapps/cl_server_cli_dart.git
[submodule "apps/ui_flutter"]
	path = apps/ui_flutter
	url = https://github.com/cloudonlanapps/keep_it_package.git
