[submodule "dockers"]
	path = dockers
	url = git@github.com:cloudonlanapps/cl_server_dockers.git
	branch = main
[submodule "services/auth"]
	path = services/auth
	url = git@github.com:cloudonlanapps/cl_server_auth_service.git
	branch = main
[submodule "services/compute"]
	path = services/compute
	url = git@github.com:cloudonlanapps/cl_server_compute_service.git
	branch = main
[submodule "services/store"]
	path = services/store
	url = git@github.com:cloudonlanapps/cl_server_store_service.git
	branch = main
[submodule "services/shared"]
	path = services/shared
	url = git@github.com:cloudonlanapps/cl_server_shared.git
	branch = main
[submodule "apps/cli_python"]
	path = apps/cli_python
	url = git@github.com:cloudonlanapps/cl_server_cli_python.git
	branch = main
[submodule "sdks/pysdk"]
	path = sdks/pysdk
	url = git@github.com:cloudonlanapps/cl_server_sdk_python.git
	branch = main
[submodule "sdks/dartsdk"]
	path = sdks/dartsdk
	url = git@github.com:cloudonlanapps/cl_server_sdk_dart.git
	branch = main
