[submodule "dockers"]
	path = dockers
	url = git@github.com:cloudonlanapps/cl_server_dockers.git
	branch = main
[submodule "services/auth"]
	path = services/auth
	url = git@github.com:cloudonlanapps/cl_server_auth_service.git
	branch = main
[submodule "services/compute"]
	path = services/compute
	url = git@github.com:cloudonlanapps/cl_server_compute_service.git
	branch = main
[submodule "services/store"]
	path = services/store
	url = git@github.com:cloudonlanapps/cl_server_store_service.git
	branch = main
[submodule "services/shared"]
	path = services/shared
	url = git@github.com:cloudonlanapps/cl_server_shared.git
	branch = main
[submodule "clients/python"]
	path = clients/python
	url = git@github.com:cloudonlanapps/cl_server_python_client.git
	branch = main
[submodule "clients/dart"]
	path = clients/dart
	url = git@github.com:cloudonlanapps/cl_server_dart_client.git
	branch = main
